@attribute [GenerateAngular]

<h1>@Text</h1>
<p>This Blazor component is being hosted within an Angular application.</p>

@code {
    [Parameter] public string Text { get; set; } = "Welcome to BlazorAngularComponentGenerator!";
}
