<div class="content">
  <greeting [text]="greetingText">
  </greeting>

  <p>
    <button (click)="addBlazorCounter()">Add Blazor counter</button>
    <button (click)="removeBlazorCounter()">Remove Blazor counter</button>
    <button (click)="modifyParameters()">Modify parameters from JS</button>
  </p>

  <div *ngFor="let counter of blazorCounters">
    <counter [title]="counter.title"
             [incrementAmount]="counter.incrementAmount"
             [customObject]="counter.customObject"
             (customCallback)="customCallback($event)">
    </counter>
  </div>
</div>
